In [1]:
import pandas as pd
import os

In [2]:
method1 = [f for f in os.listdir('sweep/method1')]

In [3]:
method1_data = {}
for f in method1:
    if f[-4:] == '.csv' and 'runtime' not in f:
        parts = f.split('=')
        rho = round(float(parts[4][:-4]), 2)
        R = int(parts[3][:-4])
        cdf = pd.read_csv('sweep/method1/' + f, index_col=0)
        runtime = pd.read_csv('sweep/method1/' + f[:-4] + '-runtime.csv')['runtime'][0]
        method1_data[(R, rho)] = {'cdf': cdf, 'runtime': runtime}

In [4]:
method2 = [f for f in os.listdir('sweep/method2')]

In [5]:
method2_data = {}
for f in method2:
    if f[-4:] == '.csv' and 'runtime' not in f:
        parts = f.split('=')
        rho = round(float(parts[3][:-4]), 2)
        R = int(parts[2][:-4])
        cdf = pd.read_csv('sweep/method2/' + f, index_col=0)
        runtime = pd.read_csv('sweep/method2/' + f[:-4] + '-runtime.csv')['runtime'][0]
        method2_data[(R, rho)] = {'cdf': cdf, 'runtime': runtime}

In [6]:
simulations = [f for f in os.listdir('sweep/simulation')]

In [7]:
pd.read_csv('sweep/simulation/R=1-rho=0.5600000000000003/R=1-rho=0.5600000000000003-runtimes.csv')['run_time'].mean()

0.27661616206169126

In [8]:
pd.read_parquet('sweep/simulation/R=1-rho=0.5600000000000003/sim0.pq', engine='pyarrow')

,id_number,customer_class,node,arrival_date,waiting_time,service_start_date,service_time,service_end_date,time_blocked,exit_date,destination,queue_size_at_arrival,queue_size_at_departure
0,108,0,2,203.381564,0.0,203.381564,0.065988,203.447552,0.0,203.447552,-1,0,0
1,109,0,2,204.389178,0.0,204.389178,2.333155,206.722332,0.0,206.722332,-1,0,0
2,110,0,2,207.946337,0.0,207.946337,0.126596,208.072933,0.0,208.072933,-1,0,0
3,111,0,2,209.019144,0.0,209.019144,0.043013,209.062157,0.0,209.062157,-1,0,0
4,112,0,2,209.925252,0.0,209.925252,0.158239,210.083491,0.0,210.083491,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,2100,0,2,3798.048439,0.0,3798.048439,0.591289,3798.639728,0.0,3798.639728,-1,3,3
1990,2096,0,2,3796.179271,0.0,3796.179271,3.633541,3799.812812,0.0,3799.812812,-1,0,3
1991,2098,0,2,3797.502485,0.0,3797.502485,2.661204,3800.163689,0.0,3800.163689,-1,2,2
1992,2099,0,2,3797.509263,0.0,3797.509263,4.131744,3801.641006,0.0,3801.641006,-1,3,2
1993,2101,0,2,3799.228731,0.0,3799.228731,5.225254,3804.453986,0.0,3804.453986,-1,3,0